@import "mixin";
@import "var";
.box{
  border:1px solid #ccc;
  left: 0;
  right: 0;
}
.box{
  @include auto;
}
.box{
  @include center;
}
.box{
  @include centerFlex;
}
article a {
  color: blue;
  &:hover { color: red }
}