@import "var";
@import "mixin";
*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.box{
  width: $w;
  height: $w;
  background: $color;
  @include center;
}
.chess{
  width: $r * 2;
  height: $r * 2;
  border-radius: 50%;
  float: left;
  //层级调高一些
  position: relative;
  z-index: 999;
}
.white{
  background: #9F4563;
}
.black{
  background: #1c2327;
}
.heng{
  //加空格
  width: $w - $r * 2;
  height: 1px;
  position: absolute;
  left: $r;
  background: #00C1DE;
  transform: matrix3d(-300%,0,0);
  //保持动画结束后的状态forwards
  animation: level 1s 1 linear forwards;
}
.shu{
  //加空格
  height: $w - $r * 2;
  width: 1px;
  position: absolute;
  left: $r;
  background: #00C1DE;
  transform: translate3d(0,-300%,0);
  //保持动画结束后的状态forwards
  animation: down 1s 1 ease-in forwards;
}
//i:nth-of-type(1)
//循环  to取不到15
@for $i from 1 through 15{
  i:nth-of-type(#{$i}){
      top: (2*$i - 1) * $r;
    animation-delay: 100ms * $i;
  }
  span:nth-of-type(#{$i}) {
    top:$r;
    left: (2*$i - 1) * $r;
    animation-delay: 100ms * $i;
  }
}
@keyframes down {
  from{
    transform:translate3d(0,-300%,0);
  }
  to{
    transform: translate3d(0,0,0);
  }
}
@keyframes level {
  from{
    transform:translate3d(-300%,0,0);
  }
  to{
    transform: translate3d(0,0,0);
  }
}
