@mixin auto{
  margin-left: auto;
  margin-right: auto;
}
@mixin center{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@mixin centerFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin centerMargin($w,$h){
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -$w/2;
  margin-top: -$h/2;
}
